@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1557198827904'); /* IE9 */
  src: url('iconfont.eot?t=1557198827904#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABvAAAAKOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBVIFPATYCJAMMCwgABCAFhG0HOxsaBhHVkzFkPw7jmGSF3JwZ77RHY9+Dp8/uv1td/eb3NyMjshdUEEGKqczIAId7NhxfXPMHbFSEOZSz6FFh4fWA0+xDAPxx77RpWZTNB5TLXJM+dQHGAQU65iQroAS5Yewmgge4GQKEkEEh0tLWMwyHBfQSQObNnjkZV/BgsU7cIXgNEy2ylTnOrDOPgC38+/KbcnFgCChg4MCM1mk0fKv+VqNL/aUPioK7nAlwpoEChYAFmdAYGYUiDlEJkdjudA+LYJby+z7nxCIP/uGBQUA8QG4YALlG1MC3aszJpDU676mrFACPz8iqBfoBhDhIigmbGz4xcs+eZbtDItbvXLpreOSGTDKfSkIrD5v75Mmwp0+HP38+8tmz0TuPxIXtPrbseGL4rqOnig9sfRj7KORAyKXYi+4Ckz3KWS4dXK5LQsrF+B926Z07ugsyKYsIssoJ48K4duIaKYaVSQCfTjbjuezjD/4NL26c6Z8YWfPPhVoAXvxP+q2rLMOywWFgMPd3cgfW2JgPtGpDDuakNiXz1noaIIQQwAc4Yng3XRF/yybBFbgOGIJIB8WRibb4QggQSiV4OOohhALap4cSyxIUscFAPqs0EKI4DYYIroISxWO0xb+FAAn8BY8oUQhhhMQuGEq20MVmx1ACS/qfCtO1DullI/LPyL614jyfk+9gX/gpCeNy/IQWvMQQ/5OlIo4cdw0dte1Q1x313JUwEuYi/TaKXNObQtM1o81ox1ACS/qfCtO1jjaWTeXzZ2TfWnEHYsR4B/uidUrCeAD6JGkHIR7lGv+TpSKOHHcNHbV2qOuO+uZ2JYyE+YRQv41gPTdUEm4va/5vExAyAifo2IiKZWFUYVW7sqghCPxoBAAA') format('woff2'),
  url('iconfont.woff?t=1557198827904') format('woff'),
  url('iconfont.ttf?t=1557198827904') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1557198827904#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e63c";
}

.icon-delete-s:before {
  content: "\e636";
}

