<!DOCTYPE html>
<html lang="zh-CN" manifest="index.appcache">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>顺溜天气</title>
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/iconfont.css">

    <script type="text/javascript" src="js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="js/lib/vue.min.js"></script>
    <script type="text/javascript" src="js/lib/raphael.min.js"></script>
    <script type="text/javascript" src="js/lib/swiper.min.js"></script>
    <script type="text/javascript" src="js/lib/Sortable.min.js"></script>
    <script type="text/javascript" src="js/lib/vuedraggable.umd.min.js"></script>
    <script type="text/javascript" src="js/vue_forcast.js"></script>
    <script type="text/javascript" src="js/vue_city_mgr.js"></script>
    <script type="text/javascript" src="js/vue_swiper.js"></script>
    <script type="text/javascript" src="js/line.js"></script>
    <script type="text/javascript" src="js/city.js"></script>
    

  </head>
  <body>
    <div class="weather" id="app">
        <toast ref="toast"></toast>
        <city-selector v-model="citySelectorShow" :cities="cities" @choose="addCity"></city-selector>
        <swiper :options="mainSwiperOpts" ref="mainSwiper" @swipe-right="onSwipeRight">
            <city-mgr class="swiper-slide" :cities="cities" @add="showCitySelector" @del="delCity" @sort="sortCity"></city-mgr>
            <swiper class="swiper-slide" :options="forcastSwiperOpts" ref="forcastSwiper">
                <forcast v-for="c in cities" :key="c.i" :city-id="c.i" class="swiper-slide" @update="update"></forcast>
                <template #footer>
                    <div class="swiper-pagination swiper-nav"></div>
                </template>
            </swiper>
        </swiper>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
