<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>weather</title>
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script type="text/javascript" src="js/line.js"></script>
    <script type="text/javascript" src="js/city.js"></script>
    

  </head>
  <body>
    <div class="weather" id="app">
        <div class="citySwtichBox hide">
            <div class="title">切换城市</div>
            <div class="close">×</div>
            <div class="hisCities">
                <div class="hisCity" v-for="c in cities" @click="swtichHisCity(c.i, c.c)">{{c.c}} <i class="del" @click.stop="delCity(c.i)">×</i></div>
            </div>
            <div class="cityInputBox">
                <input type="text" class="itext" placeholder="请输入城市名称" name="cityName"/>
                <ul class="cityList hide"></ul>
            </div>
            <a class="btnSave" href="javascript:;" @click="swtichCity">保存</a>
        </div>
        <div class="swiper-container forcast-box" ref="forcastBox">
            <div class="swiper-pagination swiper-nav"></div>
            <div class="swiper-wrapper">
                <forcast v-for="c in cities" :key="c.i" :city-id="c.i" class="swiper-slide"></forcast>
            </div>
        </div>
        <div class="btns">
            <a href="javascript:void(0);" class="btn-add" @click="showCitySwtich"> + </a>
        </div>
    </div>

    <script type="text/x-template" id="forcast-template">
        
        <div class="forcast">
            <div class="loadingBox" v-show="loading"><img src="imgs/loading.gif" height="20" width="20"></div>
          <div class="topbar">
                <div class="city">
                    <span class="cityName">{{fdata.cityName}}</span>
                </div>
                <div class="updateTime" v-if="fdata.updateTime">{{fdata.updateTime}} 更新</div>
            </div>
            <div class="alarms swiper-container" ref="alarms">
                <div class="swiper-wrapper">
                    <a v-for="alarm in fdata.alarms" :class="alarm.clazz" class="swiper-slide" href="javascript:void(0);">{{alarm.text}}</a>
                </div>
            </div>
            <div class="idxs" v-if="fdata.sk">
                <div class="idx temp left">
                    <span class="tempVal">{{fdata.sk.temp}}</span>
                    <span class="tempUnit">℃</span>
                </div>
                <div class="right">
                    <div class="idx aqi" :style="{backgroundColor: fdata.sk.aqisbg}">
                        <span class="aqiVal">{{fdata.sk.aqi}}</span>
                        <span class="aqis">{{fdata.sk.aqis}}</span>
                    </div>
                    <div class="idx wind">
                        <span class="windD">{{fdata.sk.windD}}</span>
                        <span class="windS">{{fdata.sk.windS}}</span>
                    </div>
                    <div class="idx sd">
                        <span>相对湿度</span>
                        <span class="sdVal">{{fdata.sk.sd}}</span>
                    </div>
                </div>
            </div>

            <div class="trend">
                <div class="dr weekday">
                    <div class="dc" v-for="i in fdata.fc">{{i.fj}}</div>
                </div>
                <div class="dr weatherIcon">
                    <div class="dc" v-for="i in fdata.fc"><i class="wicon" :class="i.d"></i></div>
                </div>
                <div class="dr lineDiv">
                    <div ref="topTemp"></div>
                    <div ref="lowTemp"></div>
                </div>
                <div class="dr weatherIcon">
                    <div class="dc" v-for="i in fdata.fc"><i class="wicon" :class="i.n"></i></div>
                </div>
                <div class="dr wind">
                    <div class="dc" v-for="i in fdata.fc">{{i.w}}</div>
                </div>
                <div class="dr windLevel">
                    <div class="dc" v-for="i in fdata.fc">{{i.wl}}</div>
                </div>
            </div>

            <ul class="zsList" v-if="fdata.zs">
                <li class="zs zwx">
                    <div class="zsIcon"></div>
                    <div class="zsTitle">紫外线指数</div>
                    <div class="zsText">{{fdata.zs.zwx}}</div>
                </li>
                <li class="zs cy">
                    <div class="zsIcon"></div>
                    <div class="zsTitle">穿衣指数</div>
                    <div class="zsText">{{fdata.zs.cy}}</div>
                </li>
                <li class="zs xc">
                    <div class="zsIcon"></div>
                    <div class="zsTitle">洗车指数</div>
                    <div class="zsText">{{fdata.zs.xc}}</div>
                </li>
                <li class="zs gm">
                    <div class="zsIcon"></div>
                    <div class="zsTitle">感冒指数</div>
                    <div class="zsText">{{fdata.zs.gm}}</div>
                </li>
            </ul>
        </div>
    </script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
